@media(max-width:576px){
    header{
        .top{.all{
            display: flex;
            align-items: center;
            padding: 13px 0;
            a{
                font-size: 13px !important;
                font-family: thin !important;
            }
        }
        }
        .mid{
            display: none;
        }
        .buttom{
            display: none;
        }

    }

    
    
}