* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
}
@import "_responsive.scss";
@import "_nice-select";
@import "_main.scss";
@import "_footer.scss";

@font-face {
  font-family: regular;
  src: url(../fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: bold;
  src: url(../fonts/Jost-Bold.ttf);
}
@font-face {
  font-family: thin;
  src: url(../fonts/Jost-Light.ttf);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

header {
  .top {
    padding: 5px 0;
    background-color: rgb(238, 238, 238);
    .USD {
      display: flex;
      justify-content: start;
      .left {
        margin-right: 15px;
        .money-change {
          p {
            font-size: 12px;
            color: #7d7d7d;
            cursor: pointer;
          }
          p:hover {
            background-color: #025abfbf;
          }
          padding: 20px 90px 0 20px;
          position: fixed;
          background-color: white;
          border: 1px solid #e2e2e2;
          display: none;
        }

        a {
          color: rgb(101, 101, 101);
          padding-right: 15px;
          font-size: 13px;
          border-right: 1px solid rgb(134, 134, 134);
          height: 100%;
          i {
            margin-left: 5px;
            font-size: 10px !important;
          }
        }
      }
      .right {
        .sell-with-us {
          p {
            font-size: 12px;
            color: #7d7d7d;
            cursor: pointer;
          }
          p:hover {
            background-color: #025abfbf;
          }
          padding: 20px 90px 0 20px;
          position: fixed;
          background-color: white;
          border: 1px solid #e2e2e2;
          display: none;
        }
        a {
          height: 100%;
          color: rgb(101, 101, 101);
          font-size: 13px;
          i {
            margin-left: 5px;
            font-size: 10px !important;
          }
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: end;
      i {
        margin-right: 25px;
        font-size: 14px;
        color: rgb(101, 101, 101);
      }
      .fa-facebook {
        position: relative;
      }
      .fa-facebook::before {
        content: "\f09a";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        bottom: -2px;
        transition: 1s all;
      }
      .fa-facebook:hover {
        position: relative;
        bottom: -2, 1px;
        color: rgb(134, 134, 134);
        font-size: 15px;
      }
      .fa-twitter {
        position: relative;
      }
      .fa-twitter::before {
        content: "\f099";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        bottom: -2px;
        transition: 1s all;
      }
      .fa-twitter:hover {
        position: relative;
        bottom: -2, 1px;
        color: rgb(134, 134, 134);
        font-size: 15px;
      }
      .fa-viber {
        position: relative;
      }
      .fa-viber::before {
        content: "\f409";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        bottom: -2px;
        transition: 1s all;
      }
      .fa-viber:hover {
        position: relative;
        bottom: -2, 1px;
        color: rgb(134, 134, 134);
        font-size: 15px;
      }
      .fa-whatsapp {
        position: relative;
        margin-right: 0 !important;
      }
      .fa-whatsapp::before {
        content: "\f232";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        bottom: -2px;
        transition: 1s all;
      }
      .fa-whatsapp:hover {
        position: relative;
        bottom: -2, 1px;
        color: rgb(134, 134, 134);
        font-size: 15px;
      }
    }
  }
  .mid {
    padding: 25px 15px;
    .all {
      align-items: center;
    }

    .inputs {
      display: flex;
      justify-content: end;
      input {
        border: 1px solid #e2e2e2;
        width: 50%;
        padding: 13px 20px;
        border-radius: 5px 0 0 5px;
        font-size: 13px;
        height: 47px;
        background: #fff;
      }
      input:focus {
        outline: none;
      }
      .all-category-select {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.6;
        color: #7d7d7d;
        vertical-align: middle;
        background: 0 0;
        background-color: #fff;
        border: none;
        border-radius: 0;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: 0.3s ease-in-out;
        width: 25%;
        height: 47px;
        border-top: 1.5px solid #e2e2e2;
        border-bottom: 1.5px solid #e2e2e2;
      }
      button {
        border: none;
        padding: 0;
        font-size: 16px;
        height: 47px;
        width: 60px;
        line-height: 46px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        background-color: #f7ba01;
        svg path {
          fill: #fff !important;
        }
      }
    }
  }
  .svgs {
    display: flex;
    justify-content: end;
    svg {
      margin-left: 20px;
    }

    .svgCompare {
      position: relative;
      .svg-Compare-span {
        position: absolute;
        background-color: #f7ba01;
        top: -2px;
        right: -8px;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;

        span {
          font-size: 10px;
        }
      }
    }
    .svgLove {
      position: relative;
      .svg-Love-span {
        position: absolute;
        background-color: #f7ba01;
        top: -2px;
        right: -8px;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;

        span {
          font-size: 10px;
        }
      }
    }
    .shopBag {
      position: relative;
      .svg-shopBag-span {
        position: absolute;
        background-color: #f7ba01;
        top: -2px;
        right: -8px;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;

        span {
          font-size: 10px;
        }
      }
    }
  }
  .buttom {
    background-color: #0465d2;
    padding: 25px 0;

    .button-all-categories {
      background-color: #025bbf;
      color: white;
      padding: 25px 0;
      padding-right: 50px;
      padding-left: 25px;
      font-size: 14px !important;
      font-family: bold;

      i {
        margin-right: 20px;
      }
      .fa-angle-down {
        margin-left: 20px;
      }
    }
    .all-catogories-catalog {
      width: 275.5px;
      position: absolute;
      color: #7d7d7d;
      z-index: 9;
      top: 190px;
      ul {
        padding: 0;
        background-color: #fff;

        li {
          padding: 5px 50px 5px 20px;
          margin: 15px 0;
          font-size: 14px;
          display: flex;
          align-items: center;
          transition: 1s all;
          cursor: pointer;

          i {
            position: absolute;
            right: 20px;
            font-size: 10px;
          }
          &:hover {
            color: #0465d2;
            background-color: #e2e2e2;
          }
        }
      }
    }
    .right-categories {
      display: flex;
      justify-content: end;
      .home-cataloge-1 {        
        margin-left: 35px;
        .home-cataloge-3{
          position: relative;
          &::before {
            content: "";
            height: 6px;
            background-color: #f7ba01;
            width: 0;
            bottom: -24px;
            left: 0;
            position: absolute;
            transition: 0.5s all;
            border-radius: 10px;
          }
        }
        .home-cataloge-2 {
          position: absolute;
          z-index: 999;
          top: 210px;
          height: 0;
          overflow: hidden;
          transition: 0.8s all;
          width: 300px;
          opacity: 0;
          visibility: hidden;
          P {
            margin-left: 20px;
            color: #7d7d7d;
            cursor: pointer;
            &:hover {
              color: #0465d2;
            }
            &:focus-visible {
              color: red;
            }
          }
        }
        

        &:hover {
          .home-cataloge-3::before {
            width: 100%;
          }
          & .home-cataloge-2 {
            background-color: #ffffff;
            height: 310px;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      a {
        font-size: 14px !important;
        color: #e2e2e2;
        font-family: bold;
      }
      .categories-catalog-1 {
        margin-left: 35px;
        
        .categories-catalog-3{
          position: relative;
          &::before {
            content: "";
            height: 6px;
            background-color: #f7ba01;
            width: 0;
            bottom: -24px;
            left: 0;
            position: absolute;
            transition: 0.5s all;
            border-radius: 10px;
          }

        }
        
        &:hover {
          .categories-catalog-3::before {
            width: 100%;
          }
          & .categories-catalog-2 {
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
        }
        .categories-catalog-2 {
          background-color: #ffffff;
          width: 78%;
          position:absolute;
          height: 0;
          top: 207px;
          left: 135px;
          opacity: 0;
          visibility: hidden;
          overflow: hidden;
          transition: 0.8s all;
          z-index: 999;

          .left-catalog {
            ul {
              li {
                &:first-child {
                  color: black;
                  font-size: 16px;
                  font-family: bold;
                }
                color: #7d7d7d;
                padding: 10px 0;
              }
            }
          }
          .right-catalog {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    .shop-categories-1 {
      margin-left: 35px;      
      .shop-categories-3{
        position: relative;
        &::before {
          content: "";
          height: 6px;
          background-color: #f7ba01;
          width: 0;
          bottom: -24px;
          left: 0;
          position: absolute;
          transition: 0.5s all;
          border-radius: 10px;
        }
      }
      
      &:hover {
        .shop-categories-3::before {
          width: 100%;
        }
        & .shop-categories-2 {
          opacity: 1;
          visibility: visible;
          height: 400px;
        }
      }
      .shop-categories-2 {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 9999999;
        background-color: #ffffff;
        left: 178px;
        top: 205px;
        width: 1195px;
        height: 0;
        overflow: hidden;
        transition: 0.8s all;
        
        ul {
          li {
            &:first-child {
              padding-top: 20px;
              color: black;
              font-size: 16px;
              font-family: bold;
            }
            padding: 10px 0;
            color: #7d7d7d;
          }
        }
      }
    }
    .pages-categories-1 {      
      margin-left: 35px;
      .pages-categories-3{
        position: relative;
        &::before {
          content: "";
          height: 6px;
          background-color: #f7ba01;
          width: 0;
          bottom: -24px;
          left: 0;
          position: absolute;
          transition: 0.5s all;
          border-radius: 10px;
        }

      }
      
      &:hover {
        .pages-categories-3::before {
          width: 100%;
        }
        & .pages-categories-2 {
          opacity: 1;
          visibility: visible;
          height: 400px;
        }
      }
      .pages-categories-2 {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 9999999999;
        background-color: #ffffff;
        width: 220px;
        top: 205px;
        height: 320px;
        padding-top: 10px;
        height: 0;
        overflow: hidden;
        transition: 0.8s all;
        ul {
          li {
            padding: 10px 0;
            a {
              padding-top: 20px;
              color: #7d7d7d;
            }
          }
        }
      }
    }
    .special-categories-1{
      margin-left: 35px;
      
      .special-categories-3{
        position: relative;
        &::before {
          content: "";
          height: 6px;
          background-color: #f7ba01;
          width: 0;
          bottom: -24px;
          left: 0;
          position: absolute;
          transition: 0.5s all;
          border-radius: 10px;
        }
      }
      
      &:hover {
        .special-categories-3::before {
          width: 100%;
        }
        & .specila-categories-2 {
          opacity: 1;
          visibility: visible;
          height: 100%;
        }
      }
      .specila-categories-2{        
        position: absolute;
        z-index: 9999999;
        background-color: #ffffff;
        width: 1195px;
        left: 178px;
        top: 205px;
        height: 0;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: 0.8s all;
        ul{
          padding: 20px 0;
          margin-left: 20px;
          li{
            &:first-child {
              padding-top: 20px;
              color: black;
              font-size: 16px;
              font-family: bold;
            }
            &:last-child {
              padding-top: 20px;
              color:#f7ba01;
              font-size: 14px;
              font-family: bold;
            }

            padding: 5px 0;
            color: #7d7d7d;
          }
        }
      }
    }
    .store-list-categories-1{
      
      margin-left: 35px;
      .store-list-categories-3{
        position: relative;
        &::before {
          content: "";
          height: 6px;
          background-color: #f7ba01;
          width: 0;
          bottom: -24px;
          left: 0;
          position: absolute;
          transition: 0.5s all;
          border-radius: 10px;
        }
      }
      
      &:hover {
        .store-list-categories-3::before {
          width: 100%;
        }
        & .store-list-categories-2 {
          opacity: 1;
          visibility: visible;
          height: 150px;
          
        }
      }
      .store-list-categories-2{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 8989898;
        background-color: #ffffff;
        width: 200px;
        top: 205px;       
        padding-top: 10px;
        height: 0;
        overflow: hidden;
        transition: 0.8s all;
        ul {
          li {
            padding: 10px 0;
            a {
              padding-top: 20px;
              color: #7d7d7d;
            }
          }
        }
      }
    }
    .contact-categories-1{
      margin-left: 35px;
      position: relative;
      &::before {
        content: "";
        height: 6px;
        background-color: #f7ba01;
        width: 0;
        bottom: -24px;
        left: 0;
        position: absolute;
        transition: 0.5s all;
        border-radius: 10px;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
}
